﻿@using Company.DTO.Concrete
@using Company.Web.Helpers
@model Company.Web.Models.EmployeeListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Employees</h1>
@Html.ValidationSummary(false, "")
@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
{
     <div class="aboveTableMenu">
          <a class="addbutton" href="@Url.Action("Manage", new {Id = 0,
                                          PageNumber = 1,
                                          Model.Filters.PageSize,
                                          Model.Filters.SortOrder,
                                          Model.Filters.SortBy,
                                          Model.Filters.Category,
                                          Model.Filters.StringToFind
                                     })">Add</a>
          <div class="dropdownMenu">
               @Html.Label("Искать в категории")
               @Html.DropDownList("Category", new List<SelectListItem>
               {
                    new SelectListItem {Text = "Выберите категорию", Value = "default", Selected = (Model.Filters.Category == "default")},
                    new SelectListItem {Text = "Имя", Value = "FirstName", Selected = (Model.Filters.Category == "FirstName")},
                    new SelectListItem {Text = "Фамилия", Value = "LastName", Selected = (Model.Filters.Category == "LastName")},
                    new SelectListItem {Text = "Гражданство", Value = "Citizenship", Selected = (Model.Filters.Category == "Citizenship")},
                    new SelectListItem {Text = "Опыту", Value = "Experience", Selected = (Model.Filters.Category == "Experience")},
                    new SelectListItem {Text = "Почте", Value = "Email", Selected = (Model.Filters.Category == "Email")},
                    new SelectListItem {Text = "Департамент", Value = "DepartmentName", Selected = (Model.Filters.Category == "DepartmentName")},

               }, new {@class = "dropdown"})<br />

               @Html.Label("Найти")
               @Html.TextBox("StringToFind", @Model.Filters.StringToFind, new { @class = "userInput" })

          </div>
          <div class="dropdownMenu">
               @Html.Label("Сортировать по")<br/>
               @Html.DropDownList("SortBy", new List<SelectListItem>
               {
                    new SelectListItem {Text = "ФИО", Value = "LastName", Selected = (Model.Filters.SortBy == "LastName")},
                    new SelectListItem {Text = "Дате рождения", Value = "DOB", Selected = (Model.Filters.SortBy == "DOB")},
                    new SelectListItem {Text = "Гражданству", Value = "Citizenship", Selected = (Model.Filters.SortBy == "Citizenship")},
                    new SelectListItem {Text = "Опыту", Value = "Experience", Selected = (Model.Filters.SortBy == "Experience")},
                    new SelectListItem {Text = "Почте", Value = "Email", Selected = (Model.Filters.SortBy == "Email")}
               }, new {@class = "dropdown"})
          </div>
          <div class="dropdownMenu">
               @Html.Label("В порядке")<br/>
               @Html.DropDownList("SortOrder", new List<SelectListItem>
               {
                    new SelectListItem {Text = "По возрастанию", Value = "ascending", Selected = Model.Filters.SortOrder == "ascending"},
                    new SelectListItem {Text = "По убыванию", Value = "descending", Selected = Model.Filters.SortOrder == "descending"}
               }, new {@class = "dropdown"})

          </div>
          <div class="dropdownMenu">
               @Html.Label("Количество")<br/>
               @Html.DropDownList("PageSize",
                    Enumerable.Range(50, 200).Where(i => i % 50 == 0).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString(), Selected = Model.Filters.PageSize / i == 1}),
                    new {@class = "dropdown"})
          </div>

          <input type="hidden" name="PageNumber" value="@Model.Filters.PageNumber"/>
          <input class="submitBtn" type="submit" value="Отправить"/>
     </div>
}

<table class="listItems">
     <thead>
     <tr>
          <td></td>
          <td>FirstName LastName</td>
          <td>DOB</td>
          <td>Citizenship</td>
          <td>Experience</td>
          <td>Email</td>
          <td>Department</td>
          <td>Actions</td>
     </tr>
     </thead>
     <tbody>

     @foreach (var str in Model.PagedEmployees.List)
     {
          <tr>
               <td>@Html.Hidden("EmployeeId", str.Id)</td>
               <td>@str.LastName  @str.FirstName </td>
               <td>@str.DoB</td>
               <td>@str.Citizenship</td>
               <td>@str.Experience</td>
               <td>@str.Email</td>
               <td>@str.DepartmentName</td>
               <td>
                    <div class="crudButtons">

                         <a href="@Url.Action("Manage", new  {id = str.Id, PageNumber = 1,
                                       Model.Filters.PageSize,
                                       Model.Filters.SortOrder,
                                       Model.Filters.SortBy,
                                       Model.Filters.Category,
                                       Model.Filters.StringToFind
                                  })">Edit</a>
                         <a href="@Url.Action("Delete", new  {id = str.Id, PageNumber = 1,
                                       Model.Filters.PageSize,
                                       Model.Filters.SortOrder,
                                       Model.Filters.SortBy,
                                       Model.Filters.Category,
                                       Model.Filters.StringToFind})">Delete</a>

                    </div>
               </td>
          </tr>
     }
     </tbody>
</table>
s
<div class="pagination">
     @Html.PageLinks(Model.Filters.TotalPages,
          Model.Filters.PageNumber,
          x => Url.Action("Index", new
          {
               PageNumber = x,
               pageSize = Model.Filters.PageSize,
               sortOrder = Model.Filters.SortOrder,
               sortBy = Model.Filters.SortBy,
               Model.Filters.Category,
               stringToFind = Model.Filters.StringToFind
          }))
</div>


