﻿@model Company.Web.Models.EmployeeModel

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee</h2>
<form method="post">
     @Html.ValidationSummary(false, "")
     <input type="hidden" name="EmployeeId" value="@Model.Id" />
     <div class="formElement">
          <label>First name:</label>
          <input type="text" name="FirstName" value="@Model.FirstName">
          @Html.ValidationMessageFor(m => m.FirstName)
     </div>
     <div class="formElement">
          <label>Last name:</label>
          <input type="text" name="LastName" value="@Model.LastName" />
          @Html.ValidationMessageFor(m => m.LastName)
     </div>
     <div class="formElement">
          <label>Date of birth:</label>
          <input type="datetime" name="DoB" value="@Model.DoB" />
          @Html.ValidationMessageFor(m => m.DoB)
     </div>
     <div class="formElement">
          <label>Citizenship:</label>
          <input type="text" name="Citizenship" value="@Model.Citizenship" />
          @Html.ValidationMessageFor(m => m.Citizenship)
     </div>
     <div class="formElement">
          <label>Experience:</label>
          <input type="number" name="Experience" value="@Model.Experience" />
          @Html.ValidationMessageFor(m => m.Experience)
     </div>
     <div class="formElement">
          <label>Email:</label>
          <input type="email" name="Email" value="@Model.Email" />
          @Html.ValidationMessageFor(m => m.Email)
     </div>
     <div class="formElement">
          <label>Department:</label>
          @Html.DropDownList("DepartmentId", (IEnumerable<SelectListItem>)ViewBag.Departments)
     </div>

     <input type="hidden" name="PageSize" value="@Model.Filters.PageSize" />
     <input type="hidden" name="SortBy" value="@Model.Filters.SortBy" />
     <input type="hidden" name="SortOrder" value="@Model.Filters.SortOrder" />
     <input type="hidden" name="Category" value="default" />
     <input type="hidden" name="StringToFind" value="" />

     <input type="submit" name="OK" />
</form>