﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
     <header>
          <h1>Рога&Копыта &#x2122</h1>
          <div>
               <p>
                    Сервис-Мастер по ремонту и обслуживанию ПВХ конструкций.
                    Реконструкция окон (дверей), модернизация, оптимизация функциональных настроек фурнитуры.
                    Замена стеклопаков, козырьков, отливов, подоконников.
                    Замена резинового уплотнителя, фурнитуры, устранение продувания.
               </p>
          </div>
     </header>

     <div class="content">
          <div class="menuSidebar">
               @Html.ActionLink("Отделы", "Index", "Department", new object(), new { @class = "menuItem" })
               @Html.ActionLink("Работники", "Index", "Employee", new object(), new { @class = "menuItem" })
          </div>
          <div class="toberendered">
               @RenderBody()
          </div>
     </div>

     <footer>
          <p>Copyright © 2018 Рога&Копыта &#x2122. All Rights Reserved</p>
     </footer>
</body>

</html>