﻿/*#region STRUCTURE General */
html,
body {
     display: flex;
     flex-direction: column;
     font-family: helvetica, arial, sans;
     min-height: -webkit-fill-available;
     margin: 0;
     box-sizing: border-box;
}
header {
     flex-grow: 0;
}
.content {
     flex-grow: 1;
}
footer {
     flex-grow: 0;
}
/*#endregion*/

/*#region Header*/
header {
     background-color: #233646;
     border-bottom: 5px solid black;
     color: #ffffff;
     font-family: inherit;
     margin: 0;
     padding: 0;
     text-align: center;
}
     header h1 {
          padding-top: 10px;
          display: block;
          font-size: 52px;
          text-shadow: 2px 2px 2px #333;
          margin: 0px;
     }

     header div p {
          display: inline-block;
          font-size: 20px;
          text-align: left;
          text-indent: 60px;
          padding-left: 20px;
          padding-right: 20px;
     }
/*#endregion General settings*/

/*#region Footer */
footer {
     border-top: 5px solid black;
     background-color: #233646;
     color: white;
     display:block;
     text-align: center;
     height: 50px;
}
/*#endregion Footer */

/* #region STRUCTURE Content  */
.content {
     display: flex;
     flex-direction:row;
     width: 100%;
}
.menuSidebar{
     flex-grow: 0;
}
.toberendered {
     flex-grow: 1;
}

/* #endregion Content */

/* #region STRUCTURE Content menu side bar */
.menuSidebar {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 10%;
}
/* #endregion STRUCTURE Content menu side bar */

/* #region Content menu side bar */
.menuSidebar {
     border-right: 5px solid black;
     background-color: #1ab394;
     justify-content:flex-start;
}

     .menuSidebar a {
          margin-top: 15px;
          background-color: #233646;
          border-radius: 4px;
          border: solid;
          border-color: black;
          color: white;
          display: block;
          font-family: inherit;
          font-size: 14px;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
          text-decoration: none;
          width: 90%
     }
/* #endregion Content menu side bar */

/* #region Content MainField */
.toberendered h1 {
     margin: 0;
     padding: 20px 0 10px 0;
     display: block;
     text-align: center;
     font-size: 52px;
     text-shadow: 2px 2px 2px #333;
}

/* #endregion Content MainField */

/* #region Validation */
.field-validation-error {
     color: #e80c4d;
     font-weight: bold;
}

.field-validation-valid {
     display: none;
}

input.input-validation-error {
     border: 1px solid #e80c4d;
}

.validation-summary-errors {
     color: #e80c4d;
     font-weight: bold;
     font-size: 1.1em;
}

.validation-summary-valid {
     display: none;
}
/* #endregion Validation */

/* #region Table */
.listItems {
     border-collapse: collapse;
     border: 1px solid black;
     display: table;
     margin-left: 30px;
     margin-right: 30px;
     padding-bottom: 20px;
     width: -webkit-fill-available;
}

     .listItems thead {
          display: table-header-group;
          vertical-align: middle;
          font-size: 20px;
          text-align: center;
          background-color: red;
          text-transform: uppercase;
     }

          .listItems thead a {
               text-decoration: none;
          }

     .listItems td {
          padding: 5px 5px 0 5px;
          vertical-align: top;
          border-style: solid;
     }

          .listItems td:nth-child(1) {
               display: none
          }

     .listItems tr:nth-child(even) {
          background-color: grey;
     }

     .listItems tr:hover {
          background-color: green;
     }
/* #endregion Table */

/* #region Buttons */
.crudButtons {
     width: inherit;
     display: flex;
     justify-content:space-between;
     padding-left: 10px;
     padding-right: 10px;
}

     .crudButtons a, .addbutton, .submitBtn {
          font-family: inherit;
          font-size: 14px;
          text-align: center;
          color: white;
          background-color: #233646;
          border-radius: 4px;
          border: solid;
          border-color: black;
          min-width: 80px;
          text-decoration: none;
          padding-top: 5px;
          padding-bottom: 5px;
     }

     .crudButtons a {
          margin-bottom: 5px;
     }

.submitBtn{

}
/* #endregion Buttons */

/* #region STRUCTURE Above Table Menu */
.aboveTableMenu {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: inherit;
     margin-left: 30px;
     margin-right: 30px;
     margin-bottom: 20px;
}


/* #endregion STRUCTURE Above Table Menu */

/* #region Pagination */
.pagination {
     margin:20px;
     display: flex;
     align-content:center;
     justify-content:space-around;
}

     .pagination .btn {
          color: white;
          background-color: #233646;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
          border-radius: 5px;
          border: 1px solid #ddd;
          margin: 0 4px;
          font-size: 16px;
     }

          .pagination .btn .active {
               background-color: #4CAF50;
               color: white;
               border-radius: 5px;
          }
          .pagination .btn :hover:not(.active) {
               background-color: deeppink;
          }
     .pagination .btn :first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
     }
     .pagination .btn :last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
     }

/* #endregion Pagination */

/* #region Dropdown */
.dropdown {
     color: #fff;
     font-size: 20px;
     padding: 5px 10px;
     border-radius: 5px 12px;
     background-color: #292929;
     font-weight: bold;
     outline: none;
}
/* #endregion Dropdown */

/* #region TextBox */
     .userInput {
          color: #fff;
          font-size: 20px;
          padding: 5px 10px;
          border-radius: 5px 12px;
          background-color: #292929;
          font-weight: bold;
          outline: none;
     }
/* #endregion TextBox */

