﻿@model Company.Web.Models.DepartmentListModel
@using System.Linq;
@using System.Web.Mvc.Html
@using Company.Web.Helpers;

@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Departments</h1>
@Html.ValidationSummary(false, "")
<p>@ViewBag.ErrorMessage</p>

@using (Html.BeginForm("Index", "Department", FormMethod.Post))
{
<div class="aboveTableMenu">
     <a class="addbutton" href="@Url.Action("Manage", new {
                                     Id = 0,
                                     PageNumber = 1,
                                     Model.Filters.PageSize,
                                     Model.Filters.SortOrder,
                                     Model.Filters.SortBy,
                                     Model.Filters.Category,
                                     Model.Filters.StringToFind
                                })">Add</a>

     <div class="dropdownMenu">
          @Html.Label("Искать в категории")
          @Html.DropDownList("Category", new List<SelectListItem>
          {
               new SelectListItem {Text = "Выберите категорию", Value = "default", Selected = (Model.Filters.Category == "default")},
               new SelectListItem {Text = "Имя", Value = "Name", Selected = (Model.Filters.Category == "Name")},
               new SelectListItem {Text = "Описание", Value = "Description", Selected = (Model.Filters.Category == "Description")},
               new SelectListItem {Text = "Бюджет", Value = "Budget", Selected = (Model.Filters.Category == "Budget")}
          }, new {@class = "dropdown"})<br />

          @Html.Label("Найти")
          @Html.TextBox("StringToFind", @Model.Filters.StringToFind, new { @class = "userInput" })
     </div>
     <div class="dropdownMenu">
          @Html.Label("Сортировать по")<br />
          @Html.DropDownList("SortBy", new List<SelectListItem>
          {
               new SelectListItem {Text = "Имени", Value = "Name", Selected = (Model.Filters.SortBy == "Name")},
               new SelectListItem {Text = "Описанию", Value = "Description", Selected = (Model.Filters.SortBy == "Description")},
               new SelectListItem {Text = "Бюджету", Value = "Budget", Selected = (Model.Filters.SortBy == "Budget")}
          }, new {@class = "dropdown"})
     </div>
     <div class="dropdownMenu">
          @Html.Label("В порядке")<br />
          @Html.DropDownList("SortOrder", new List<SelectListItem>
          {
               new SelectListItem {Text = "По возрастанию", Value = "ascending", Selected = Model.Filters.SortOrder == "ascending"},
               new SelectListItem {Text = "По убыванию", Value = "descending", Selected = Model.Filters.SortOrder == "descending"}
          }, new {@class = "dropdown"})

     </div>
     <div class="dropdownMenu">
          @Html.Label("Количество")<br />
          @Html.DropDownList("PageSize",
               Enumerable.Range(5, 50).Where(i => i % 5 == 0).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString(), Selected = Model.Filters.PageSize / i == 1}),
               new {@class = "dropdown"})
     </div>

     <input type="hidden" name="PageNumber" value="@Model.Filters.PageNumber" />
     <input class="submitBtn" type="submit" value="Отправить" />
</div>
}
<table class="listItems">
     <thead>
          <tr>
               <td></td>
               <td>Название</td>
               <td>Описание</td>
               <td>Бюджет</td>
               <td>Сотрудники</td>
               <td>Actions</td>
          </tr>
     </thead>
     <tbody>

          @foreach (var str in Model.PagedDepartments.List)
          {
               <tr>
                    <td>@Html.Hidden("DepartmentId", str.Id)</td>
                    <td>@str.Name</td>
                    <td>@str.Description</td>
                    <td>@str.Budget</td>
                    <td>
                         @if (str.Employees != null)
                         {
                              foreach (var emp in str.Employees)
                              {
                                   <p>@emp.FirstName @emp.LastName</p>
                              }
                         }
                    </td>
                    <td>
                         <div class="crudButtons">

                              <a href="@Url.Action("Manage", new  {str.Id, PageNumber = 1,
                                            Model.Filters.PageSize,
                                            Model.Filters.SortOrder,
                                            Model.Filters.SortBy,
                                            Model.Filters.Category,
                                            Model.Filters.StringToFind
                                       })">Edit</a>
                              <a href="@Url.Action("Delete", new  {str.Id, PageNumber = 1,
                                            Model.Filters.PageSize,
                                            Model.Filters.SortOrder,
                                            Model.Filters.SortBy,
                                            Model.Filters.Category,
                                            Model.Filters.StringToFind})">Delete</a>
                         </div>
                    </td>
               </tr>
          }
     </tbody>
</table>

<div class="pagination">
     @Html.PageLinks(Model.Filters.TotalPages,
          Model.Filters.PageNumber,
          x => Url.Action("Index", new
          {
               PageNumber = x,
               pageSize = Model.Filters.PageSize,
               sortOrder = Model.Filters.SortOrder,
               sortBy = Model.Filters.SortBy,
               category = Model.Filters.Category,
               stringToFind = Model.Filters.StringToFind

          }))
</div>
