﻿@model Company.Web.Models.DepartmentModel

@{
    ViewBag.Title = "Create new department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Department</h2>
<form method="post">
     @Html.ValidationSummary(false, "")
     <div class="formElement">
          <label>Department name:</label>
          <input type="text" name="Name" value="@Model.Name" />
          @Html.ValidationMessageFor(m => m.Name)
     </div>
     <div>
          <label>Description (Brief information about the department)</label>
          <input type="text" name="Description" value="@Model.Description" />
     </div>
     <div>
          <label>Budget</label>
          <input type="number" name="Budget" value="@Model.Budget" />
          @Html.ValidationMessageFor(m => m.Budget)
     </div>
     <input type="hidden" name="Id" value="@Model.Id" />

     <input type="hidden" name="PageSize" value="@Model.Filters.PageSize" />
     <input type="hidden" name="SortBy" value="@Model.Filters.SortBy" />
     <input type="hidden" name="SortOrder" value="@Model.Filters.SortOrder" />
     <input type="hidden" name="Category" value="default" />
     <input type="hidden" name="StringToFind" value="" />
     <input type="submit" name="OK" />
</form>
